@use "../abstracts";

.checkout-page {
    display: flex;
    flex-direction: column;

    min-height: 80vh;
    padding-bottom: 50px;

    &__breadcrumbs {
        background: var(--checkout-breadcrumbs-bg);
    }
}

.checkout-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.cart-info {
    margin-top: -10px;
    padding: 30px;
    border-radius: 20px;

    color: var(--cart-info-text-color);
    background: var(--cart-info-bg);
    box-shadow: 0px 20px 60px 10px var(--cart-info-shadow);

    @include abstracts.screen(md) {
        padding: 16px;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.42;

        &--lv2 {
            font-size: 2.2rem;
            font-weight: 500;
        }
    }

    &__desc {
        margin-top: 6px;

        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.47;
    }

    &__form {
        margin-bottom: 30px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 30px;
    }

    &__sub-heading {
        margin: 30px 0;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__list {
        margin-top: -30px;

        @include abstracts.screen(md) {
            margin-top: 0;
        }
    }

    &__bottom {
        margin-top: 30px;
    }

    &__row,
    &__continue-link {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 10px;

        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
        }

        @include abstracts.screen(md) {
            &--md-block {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
            }
        }
    }

    &__separate {
        margin: 30px 0;
        height: 1px;

        background: var(--cart-info-separate);
    }

    &__continue {
        height: 100%;
        display: flex;

        align-items: flex-end;

        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-icon {
            rotate: 90deg;
            transition: translate 0.3s;
        }

        &-link:hover &-icon {
            translate: -5px;
        }
    }

    &__sub-label {
        font-weight: 400;
        color: var(--cart-info-sub-label-color);
    }

    &__next-btn {
        margin-top: 30px;
    }

    &__edit-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.45;
    }

    &__checkbox {
        &-input {
            appearance: none;

            &::before {
                content: url(../../assets/icons/checkbox-uncheck.svg);
            }

            &:not(:checked)::before {
                filter: var(--icon-color);
            }

            &:checked::before {
                content: url(../../assets/icons/checkbox-checked.svg);
            }
        }
    }

    &__form-row {
        flex-direction: row;
        gap: 20px;
    }

    &__check-all {
        margin: 30px 0;
    }

    &__checkout-all {
        @include abstracts.screen(md) {
            width: 100%;
        }
    }
}

.cart-info + .cart-info {
    margin-top: 30px;
}

.cart-item {
    display: flex;

    padding: 30px 0;
    border-bottom: 1px solid var(--cart-item-border);

    @include abstracts.screen(md) {
        padding: 16px 0;

        &:last-child {
            border-bottom: none;
            padding: 16px;
        }
    }

    &__thumb {
        width: 175px;
        height: 172px;
        margin: 0 30px 0 20px;

        object-fit: contain;

        @include abstracts.screen(xxl) {
            width: 150px;
            height: 150px;
        }

        @include abstracts.screen(lg) {
            width: 100px;
            height: 100px;
        }

        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
            margin: 0 16px;
        }
    }

    &__content {
        flex: 1;

        display: flex;
        align-self: flex-start;

        &-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
        }

        @include abstracts.screen(md) {
            flex-direction: column;

            &-right {
                margin-top: 16px;
            }
        }
    }

    &__title {
        max-width: 374px;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__price-wrap {
        margin: 16px 0;

        color: var(--cart-item-price-wrap);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__status {
        color: var(--cart-item-status);
    }

    &__ctrl-wrap {
        display: flex;
        align-items: center;
        gap: 30px;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;

        margin-top: auto;
        min-height: 44px;

        @include abstracts.screen(md) {
            gap: 10px;
        }

        &--md-block {
            @include abstracts.screen(md) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 10px;

        height: 44px;
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid var(--cart-item-input-border);

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.47;

        &-btn {
            display: flex;
        }
    }

    &__total-price {
        text-align: right;

        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.46;

        @include abstracts.screen(md) {
            margin-bottom: 16px;

            text-align: left;
        }
    }

    &__ctrl-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        color: var(--cart-item-ctrl-btn);

        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;

        &:first-child {
            margin-right: 10px;
        }
    }

    &__checkout-btn {
        margin-top: auto;

        @include abstracts.screen(md) {
            max-width: 200px;
        }
    }
}

.gift-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        height: 76px;
        width: 76px;
        border-radius: 14px;

        background: var(--gift-item-bg);
        box-shadow: 0px 20px 60px 10px var(--gift-item-shadow);
    }

    &__title {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__desc {
        margin-top: 10px;

        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.43;
    }
}

.user-address {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__btn {
        @include abstracts.screen(md) {
            height: 46px;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__desc {
        margin-top: 3px;

        font-size: 1.5rem;
        line-height: 1.47;
    }

    &__message {
        margin-top: 30px;
        font-weight: 500;
    }

    &__link {
        margin-left: 5px;
        color: #0071dc;
    }
}

.address-card {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    margin-top: 30px;

    @include abstracts.screen(md) {
        flex-direction: column;
        align-items: flex-start;
    }

    &__left {
        display: flex;

        gap: 16px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__desc {
        width: min(570px, 95%);
        margin-top: 3px;

        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.47;
    }

    &__list {
        display: flex;
        gap: 30px;

        margin-top: 20px;

        list-style: disc inside;

        @include abstracts.screen(md) {
            flex-direction: column;
        }

        &-item {
            margin-left: 8px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
    }

    &__ctrl {
        margin-top: auto;
    }
}

.payment-item {
    display: flex;
    align-items: center;

    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    background: var(--payment-item-bg);

    @include abstracts.screen(sm) {
        align-items: flex-start;
    }

    &--pointer {
        cursor: pointer;
    }

    &__content {
        flex: 1;

        display: flex;
        align-items: center;
        gap: 16px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__info {
        flex: 1;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__desc,
    &__detail {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.47;
    }

    &__desc {
        margin-top: 4px;
    }

    &__detail {
        margin-right: -8px;
        padding: 8px;

        color: #0071dc;
    }

    &__thumb {
        width: 70px;
        margin-right: 20px;

        object-fit: contain;
    }

    &__checkbox {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 14px;
    }

    &__cost {
        color: #9e9da8;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__checkbox-input:checked ~ &__cost {
        color: inherit;
    }
}
