@use "../abstracts";

.product-page {
    display: flex;
    flex-direction: column;

    min-height: 80vh;
    padding-bottom: 50px;

    background: var(--product-detail-bg);
}

.product-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.prod-info-container {
    border-radius: 20px;

    @include abstracts.screen(md) {
        background: var(--product-info-container-bg);
        box-shadow: 0px 20px 60px 10px var(--product-info-container-shadow);
    }
}

.prod-preview {
    padding: 0 30px;

    @include abstracts.screen(lg) {
        display: flex;
        flex-direction: row-reverse;
    }

    @include abstracts.screen(md) {
        padding: 16px;
    }

    &__list {
        display: flex;
        flex: 1;
        overflow: hidden;
    }

    &__item {
        position: relative;

        flex-shrink: 0;

        width: 100%;
        padding-top: 92%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__thumbs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        padding: 30px;

        @include abstracts.screen(lg) {
            flex-direction: column;
            padding-left: 0;
        }

        @include abstracts.screen(md) {
            display: none;
        }
    }

    &__thumb-img {
        width: 65px;
        height: 65px;
        border: 1px solid rgba(159, 158, 168, 0.3);
        border-radius: 8px;

        opacity: 0.5;
        object-fit: contain;

        transition: opacity, border-color;
        transition-duration: 0.7s;

        &:not(&--current):hover {
            opacity: 1;
            border-color: #9f9ea8;
            cursor: pointer;
        }

        &--current {
            opacity: 1;
            border-color: #ffb700;
        }
    }
}

.prod-info {
    padding: 60px;
    border-radius: 10px;

    background: var(--prod-info-bg);

    @include abstracts.screen(xxl) {
        padding: 40px;
    }

    @include abstracts.screen(lg) {
        margin-top: 30px;
    }

    @include abstracts.screen(md) {
        margin-top: 0;
        padding: 0 16px 16px;
        border-radius: 20px;
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.39;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
            font-weight: 700;
        }
    }

    &__label {
        margin-top: 30px;
    }

    &__tag {
        background: var(--prod-info-tag-bg);
    }

    &__card {
        margin-top: 27px;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid var(--product-info-card-border);
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__price {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
    }

    &__tax {
        margin-left: 10px;
        padding: 2px 8px;
        border-radius: 4px;

        color: #67b044;
        background: rgb(103 176 69 / 20%);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.43;
    }

    &__total-price {
        margin: 20px 0;

        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.39;
    }

    &__add-to-cart {
        flex: 1;
    }

    &__like-btn {
        margin-left: 20px;
        width: 46px;
        height: 46px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        box-shadow: inherit;
    }
}

.prod-props {
    padding-left: 30px;

    @include abstracts.screen(xxl) {
        padding-left: 10px;
    }

    @include abstracts.screen(lg) {
        padding-left: 0;
    }
}

.prod-prop {
    display: flex;
    align-items: start;
    gap: 16px;

    margin-top: 30px;

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.45;
    }

    &__desc {
        margin-top: 4px;

        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
    }
}

.prod-tab {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin: 0 -30px;

        @include abstracts.screen(md) {
            margin: 0 -20px;
        }
    }

    &__item {
        padding: 0 30px;

        color: var(--prod-tab-item-color);

        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.46;
        white-space: nowrap;

        user-select: none;

        @include abstracts.screen(md) {
            padding: 8px 20px;
            font-size: 1.8rem;
        }

        &:not(&--current) {
            cursor: pointer;
        }

        &--current {
            color: inherit;
        }
    }

    &__contents {
        padding-top: 30px;
    }

    &__content {
        max-height: 0;
        opacity: 0;
        visibility: hidden;

        overflow: hidden;

        transition-property: opacity, visibility;
        transition-duration: 0.9s;

        &--current {
            max-height: 9999px;
            opacity: 1;
            visibility: visible;
        }
    }

    &__text-content {
        margin-top: -20px;
    }
}

.prod-content {
    &__heading {
        margin-bottom: 30px;

        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.42;
    }
}
