@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(6%) saturate(6364%) hue-rotate(212deg) brightness(95%) contrast(96%);
    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --footer-bg-color: var(--header-bg-color);
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);

    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // Category item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Buttons
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;

    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Filter
    --filter-separate-bg: #eee;

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter-form-slider-bg: #d2d1d6;
    --filter-form-slider-before-after-border: #ffb700;
    --filter-form-text-input-border: #d2d1d6;
    --filter-form-input-placeholder: #9e9da8;

    // Auth
    --auth-content-bg: #fff;
    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // Forms
    --form-placeholder-color: #d2d1d6;
    --form-tag-color: #9e9da8;
    --form-tag-bg: #f8f8fb;
    --form-select-border: #d2d1d6;

    // Product detail
    --product-info-container-bg: #fff;
    --product-info-container-shadow: rgba(237, 237, 246, 0.2);

    --product-detail-bg: #fff;
    --prod-info-bg: #f6f6f6;
    --prod-info-tag-bg: #ededf6;
    --product-info-card-border: #b9babe;

    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
        --prod-info-bg: transparent;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);
    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }

    // Search bar
    --search-bar-bg: #fff;
}
