@use "../abstracts";

.cate-item {
    display: flex;
    align-items: center;
    gap: 20px;

    height: 100%;
    padding: 20px 26px;
    border-radius: 16px;

    background: var(--cate-item-bg);

    @include abstracts.screen(xl) {
        flex-direction: column;
    }

    @include abstracts.screen(md) {
        flex-direction: row;
    }

    &__thumb {
        width: 116px;
        height: 116px;
        border-radius: 8px;

        background: var(--cate-item-thumb-bg);

        object-fit: contain;

        @include abstracts.screen(xl) {
            width: 100%;
            height: 150px;
            margin: 0 auto;
        }

        @include abstracts.screen(md) {
            width: 88px;
            height: 88px;
            margin: 0;
        }
    }

    &__info {
        padding-right: 20px;

        @include abstracts.screen(xxl) {
            padding-right: 0;
        }
    }

    &__title {
        color: var(--cate-item-title-color);

        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.46;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__desc {
        margin-top: 6px;

        font-size: 1.6rem;
        line-height: 1.5;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }
}
